<div ng-controller="mainController">
    <p><a href="#">Home</a> | <a href="#!/new_question">Add a Question</a> | <a href="#" ng-click="logout()">Logout</a></p>
    <div ng-if="errMsg">
        <center>
            <h1 style="color:red"> {{ errMsg }}</h1>
        </center>
    </div>
    <div ng-if="score != undefined">
        <center>
            <h1 style="color:green">That was great, {{ currentUser.user }}! Your score is {{ score }}/3 ( {{ ((score/3)*100).toFixed(2) }}% )</h1>
        </center>
    </div>
    <center>
        <div style="border:solid; width:400px;">
            <br />
            <button ng-click="play()">Play</button>
            <p>Click the button above to start the trivia game.</p>
        </div>
    </center>
    <br /><br />
    Search <input type="text" ng-model="filter_user" />
    <table width='100%' border='1' cellspacing='0'>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Percentage</th>
        </tr>
        <tr ng-repeat="player in players | filter:filter_user" ng-if="player.score != NaN">
            <td>{{ player.user }}</td>
            <td>{{ player.score  }}/3</td>
            <td>{{ ((player.score/3)*100).toFixed(2) }}%</td>
        </tr>
    </table>
</div>