<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <style>
      .ui{
        width: 100px;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <div class="messages" style="position: absolute; left; 0px; top: 0px; border: solid; background: white">
      {%if res == 'success'%}
        <p style='color: green'>Registration Successful</p>
      {%else%}
        {%if messages%}
          {%for message in messages%}
            <p style='color: red'>{{message}}</p>
          {%endfor%}
        {%endif%}
      {%endif%}
    </div>
    <h1>Registration</h1>
    <div class='ui'>
      <form action="/register" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="fname" value="">
        Last Name: <input type="text" name="lname" value="">
        Email: <input type="text" name="email" value="">
        Password: <input type="password" name="pword" value="">
        Confirm pw: <input type="password" name="c_pword" value="">
        <input type="submit" name="submit" value="Register">
      </form>
      
      <h1>Login</h1>
      <form action="/login" method="post">
        {% csrf_token %}
        Email: <input type="text" name="email" value="">
        Password: <input type="password" name="pword" value="">
        <input type="submit" name="submit" value="Login">
      </form>
    </div>
  </body>
</html>
